<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div id="header">
            <div class="container">
                <h1>About Me</h1>
                <p>A visionary and motivated Cybersecurity Analyst committed to detecting and protecting individuals and organizations from cyberattacks through innovative techniques and programming skills. My education and prior work experience equip me to contribute effectively by bringing valuable solutions within the cybersecurity industry</p>
                <nav menu>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Experience</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div> 
     </div> 
    </body>
</html>    
