<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="tab-contents active-tab" id="Cotacts"></div>
        <h2> 🤳 Connect with me:</h2>

        [<img align="left" alt="Jlizatis9381 | YouTube" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/youtube.svg" />][youtube]
        
        [<img align="left" alt="ElizabethAtieno | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][linkedin]
        [<img align="left" alt="Jlizatis9381 | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />][twitter]
        
        [<img align="left" alt="Jlizatis9381 | GitHub" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" />][github]
        [<img align="left" alt="Jlizatis9381 | Instagram" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg" />][instagram]
        [<img align="left" alt="Jlizatis9381 | Facebook" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/facebook.svg" />][facebook]
        [<img align="left" alt="Jlizatis9381 | WhatsApp" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/whatsapp.svg" />][whatsapp]
        [<img align="left" alt="Jlizatis9381 | Email" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/gmail.svg" />][email]
        <br />
        <h2>📫 How to reach me:</h2>
    </body>
</html>    
