<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="tab-contents active-tab" id="Education">
            <ul>
                <span>2024-2024</span><br>YEARUP UNITED/SEATTLE CENTRAL COLLEGE; COMPUTER NETWORK SERVICES CENTRAL
                <p>Year Up is an intensive career development program with 250 corporate partners, college-level courses, professional
                    training, and a six-month internship.
                    Relevant coursework includes: Hardware Systems, Software Systems, Data Analysis with Excel, Communication</p>
                
                <ul>
                    <li>Completed an intensive 6-month Cyber Security Bootcamp covering network security, ethical hacking, incident response, and cloud security.</li>
                    <li>Gained hands-on experience with tools like Wireshark, Metasploit, and Nessus through practical labs and real-world simulations.</li>
                    <li>Developed a comprehensive understanding of cybersecurity principles, risk management, and compliance standards such as NIST and ISO 27001.</li>
                    <li>Collaborated on team projects to design and implement security solutions for simulated business environments.</li>
                </ul>
                <span>2016-2020</span><br>BACHELOR OF SCIENCE IN COMPUTER SCIENCE
                   <h1>Bachelor's Degree- Computer Security and Forensics Dec.2020</h1>
                   <p> Completed coursework in Operating System Security, Access control, Software development with Java, PHP And HTML,
                    SQL, Risk Management, Vulnerability analysis.</p>

                <span>2012-2015</span><br>CERTIFICATIONS
                <ul>
                    <li>CompTIA Security+ (2024)</li>
                    <li>Google Cybersecurity Certificate (2023)</li>
                    <li>Introduction to AWS</li>
                    <li>Leadership Skills</li>
                    <li>Communication Skills</li>

                </ul>
            </ul>
        </div>
    </body>
</html>