<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="tab-contents active-tab" id="Experience">
            <ul>
                <span>March.2024 - Present</span><br>Reddit
                <ul>
                   <li>Automates cloud tasks using Bash and Python scripts; cut manual workload by 98%.</li>
                   <li>Develops and maintains 30+ IAM roles and policies using Terraform, enhancing AWS infrastructure security and reducing unauthorized access incidents by 45%.</li>
                   <li>Developes Web application for accessing Vault secrets hence improving efficiency  and Access control to HashiCorp vault by 50%.</li>
                   <li>Configures Kubernetes RBAC settings across 5+ clusters, reducing privilege escalation risks by 60%.</li>
                </ul>   
                
                <span>Aug.2024-  Present</span><br>COMMUNITY HOUSE MENTAL HEALTH AGENCY
                <ul>
                   <li>Monitored 60 residents, reducing drug overdose incidents by 37% in 2 months.</li>
                   <li>Managed HIPAA-compliant medication administration, protecting resident privacy.</li>
                   <li>Improved front-desk service quality to a 99% call response rate, responding to 12+ daily calls.</li>
                   <li>Utilized BlueStep, eMAR, and EHRS software for efficient record-keeping.</li>
                </ul>

                <span>Jan.2021- Dec.2021</span><br>KENYA REVENUE AUTHORITY
                <ul>
                    <li>Resolved 3,000+ tickets monthly using CMS systems, improving IT response time by 95%.</li>
                    <li>Maintained antivirus and OS updates, decreasing vulnerability exposure by 33%.</li>
                    <li>Provided employee training to reduce common security lapses and improve digital hygiene.</li>
                </ul>
                
                <span>Aug.2023-  Aug.2024</span><br>Communications Authority of Kenya
                <ul>
                   <li>Conducted vulnerability assessments using Nessus and OpenVAS, identifying and mitigating 150+ security vulnerabilities, reducing potential attack vectors by 40%.</li>
                   <li>Implemented SIEM solutions (Splunk) to monitor network traffic, resulting in a 30% decrease in incident response time.</li>
                   <li>Developed and enforced security policies, leading to a 25% improvement in compliance with industry standards (NIST, ISO 27001).</li>
                   <li>Collaborated with cross-functional teams to conduct penetration testing, uncovering critical vulnerabilities and enhancing overall security posture by 35%.
                </ul>
                
                
                  
                <span>May.2019-  Aug.2019</span><br>VENTEC LIFE SYSTEMS
                <ul>
                    <li>>Maintained ISO compliance on 1,300+ monthly medical devices assembled.</li>
                    <li>>Applied QMS, EDC, and Syspro software to ensure quality control.</li>  
                    <li>Collaborated with a 70-member team on critical medical device projects.></li>
                </ul>    


                <span>Jan.2017- Dec.2020</span><br>VOLUNTEER EXPERIENCE
                <ul>
                    <li><b>Project Lead: </b> Entrepreneurial Action for Us All (Enactus, JOOUST) Jan. 2017 -Dec 2020
                    <p>Led projects serving low-income clients, enhancing community welfare.</ul>
                    <li><b>President -UNESCO student forum(JOOUST):</b>Jan. 2018-Dec 2019</ul>
                    <p>Organized educational and cultural programs</p>

                </ul>    
                




            </ul>

        </div>
    </body>
</html>    