<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Portfolio Website</title>
        <link rel="stylesheet" href="static/style.css">

    </head>
    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <img src ="static/Images/liz.png" class="liz">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/skills">Skills</a></li>
                        <li><a href="/experience">Experience</a></li>
                        <li><a href="/education">Education</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div> 
            <div class="header-text">
                <p>Cyber Security Engineer</p>
                <h1>Hi, I'm <br>Elizabeth Atieno</h1>
            </div>

       
    </body>
</html>