<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div class="tab-contents active-tab" id="Projects">
            <h1>Hi, I'm Elizabeth! <br/><a href="https://github.com/elizabethatieno">Cybersecurity Professional</a>, <a href="https://www.linkedin.com/in/elizabeth-atieno-202b49173/">Programmer</a>, <a href="www.youtube.com/@lizatis9381">YouTuber</a></h1>

            <h2>IT Lab Projects:</h2>
             <b>Lab Projects For IT Help_desk CNS 6 Months course at Seattle Central College</b>https://github.com/lizaatis/Lab_Projects_CNS_course
            <h2>Cybersecurity Lab Projects:</h2>
            - <b>How to configure SIEM security operations using Microsoft Sentinel</b>
              https://www.canva.com/design/DAGdE6YuAew/LV1L4WqGaVjAIDg2tm25nA/edit?utm_content=DAGdE6YuAew&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
            - <b>Building Database Server on AWS  and Interacting With Your DB Using an App part1</b>
             https://github.com/lizaatis/Database-Server-on-AWS
             <h2>Python Projects:</h2>
            - <b>Fetching data from Internet</b>
              - [Fetching Internet data using Python]https://github.com/lizaatis/Fetching-Internet-Data-using-Python
            <h2>Excel Data Analysis Projects:</h2>
              - <b>Excel Functions</b>
              - https://github.com/lizaatis/Excel-Functions-Lab/tree/main
              <h2>Certifications:</h2>
                - <b>These are Certifications I have a chieved so far</b>https://github.com/lizaatis/Certifications
                
              
            <h2>📺 Popular YouTube Videos</h2>
            
            <b>Exploring Logical and Physical Mode of Cisco Packet Tracer</b>
            https://github.com/lizaatis/exploring-physical-and-logical-mode-of-network-on-Cisco-Packet-Tracer
            
            - [This project aims at exploring physical and logical mode of network on Cisco Packet Tracer.]
        </div>
       
    </body>
</html>
