<!DOCTYPE html>
<html lang=""en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <div id="header">
            <div class="tab-contents active-tab" id="skills">
                <ul>
                    <li>
                        <span class="skills-section-title">Technical Skills</span>
                        <ul>
                            <li>Network Security</li>
                            <li>Cloud Security: AWS, GCP, Ms Azure</li>
                            <li>Threat Analysis</li>
                            <li>Vulnerability Assessment</li>
                            <li>IAM</li>
                            <li>Incident Response</li>
                            <li>Penetration Testing</li>
                            <li>Security Information and Event Management (SIEM)</li>
                            <li>Cryptography</li>
                            <li>Risk Management</li>
                            <li>Incidence response and Incident detection development</li>
                        </ul>
                        <span class="skills-section-title">Coding Skills</span>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C++</li>
                            <li>JavaScript</li>
                            <li>HTML/CSS</li>
                            <li>SQL</li>
                        </ul>
                        <span class="skills-section-title">Soft Skills</span>
                        <ul>
                            <li>Leadership</li>
                            <li>Problem solving</li>
                            <li>Collaboration</li>
                            <li>Communication</li>
                            <li>Adaptability</li>
                            <li>Critical thinking</li>
                            <li>Attention to detail</li>
                        </ul>
                        <span class="skills-section-title">Tools and Platforms</span>
                        <ul>
                            <li>Terraform</li>
                            <li>Kubernetes</li>
                            <li>Kafka</li>
                            <li>Docker</li>
                            <li>Microsoft 365 Apps such as Excel, Word</li>
                            <li>Github/git CLI</li>
                            <li>Make</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="container">
                <nav menu>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Experience</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div> 
        </div>
    </body>
</html>            